/* simple-slider.c body */
.slider {
  width: 300px;
}

.slider > .dragger {
  background: #8DCA09;
  background: -webkit-linear-gradient(top, #8DCA09, #72A307);
  background: -moz-linear-gradient(top, #8DCA09, #72A307);
  background: linear-gradient(top, #8DCA09, #72A307);

  -webkit-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  border: 1px solid #496805;
  width: 16px;
  height: 16px;
}

.slider > .dragger:hover {
  background: -webkit-linear-gradient(top, #8DCA09, #8DCA09);
}


.slider > .track, .slider > .highlight-track {
  background: #ccc;
  background: -webkit-linear-gradient(top, #bbb, #ddd);
  background: -moz-linear-gradient(top, #bbb, #ddd);
  background: linear-gradient(top, #bbb, #ddd);

  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: 1px solid #aaa;
  height: 4px;
}

.slider > .highlight-track {
	background-color: #8DCA09;
	background: -webkit-linear-gradient(top, #8DCA09, #72A307);
	background: -moz-linear-gradient(top, #8DCA09, #72A307);
	background: linear-gradient(top, #8DCA09, #72A307);
	
	border-color: #496805;
}

.slider-volume {
  width: 160px; /* width of the slider */
  height:23px;
}

.slider-volume > .dragger {
	width: 18px;
	height: 18px;
	margin: 0 auto;
  border: 1px solid rgba(255,255,255,0.6);

  -moz-box-shadow: 0 0px 2px 1px rgba(0,0,0,0.5), 0 2px 5px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0px 2px 1px rgba(0,0,0,0.5), 0 2px 5px 2px rgba(0,0,0,0.2);
  box-shadow: 0 0px 2px 1px rgba(0,0,0,0.5), 0 2px 5px 2px rgba(0,0,0,0.2);

	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;

  background: #000000;        
}

.slider-volume > .track, .slider-volume > .highlight-track {
  height: 23px;

  background: #787878;
  background: -moz-linear-gradient(top, #787878, #a2a2a2);
  background: -webkit-linear-gradient(top, #787878, #a2a2a2);
  background: linear-gradient(top, #787878, #a2a2a2);

  -moz-box-shadow: inset 0 2px 5px 1px rgba(0,0,0,0.15), 0 1px 0px 0px rgba(230,230,230,0.9), inset 0 0 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 2px 5px 1px rgba(0,0,0,0.15), 0 1px 0px 0px rgba(230,230,230,0.9), inset 0 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 5px 1px rgba(0,0,0,0.15), 0 1px 0px 0px rgba(230,230,230,0.9), inset 0 0 1px 1px rgba(0,0,0,0.2);

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.slider-volume > .highlight-track {
  background-color: #ffffff;
  background: -moz-linear-gradient(top, #ffffff, #d0d0d0);
  background: -webkit-linear-gradient(top, #ffffff, #d0d0d0);
  background: linear-gradient(top, #ffffff, #d0d0d0);
}

/* noteditable.css body */

#tawk_contents {
    position:absolute;
    left:0px;
    width:100%;
    overflow: hidden;
}

.tawk_contentsWithoutBars {
    top:0px;
    height:100%;    
}


.tawk_thumbindex {
    z-index: 2;
}


.ui-slider .ui-slider-handle {
    width: 0.6em;
    height: 1em;
}

.tawk_no_select {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -o-user-select: none;
    user-select: none;  
    cursor: default;
}


.tawk_pointer_default {
    cursor: default;
}

.tawk_pointer_clickable {
    cursor: pointer; 
}

.tawk_videoElement {
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: gray;
}

#tawk_mediaAllowChrome {
    position:absolute;
    top:0;
    z-index:4;
    left:225px;
}

#tawk_mediaAllowMozilla {
    position:absolute;
    top:0;
    left:16px;
    z-index:4;    
}


#tawk_mediaAllowPointerChrome {
    position:absolute;
    top:0;
    left:272px;
    width:32px;
    height:32px;
}

#tawk_mediaAllowPointerMozilla {
    position:absolute;
    top:0;
    left:20px;
    width:20px;
    height:210px;
}

#tawk_secondOwnerOptions {
    z-index: 3;
}

/* room.css body */


/*
 * tawk_embedBody is the space on your webpage in which the tawk session resides.
 * The purpose of this css class is to set the font used overall and make the background
 * transparent.
 */
.tawk_embedBody {
    margin:0;
    font-family: 'arial','helvetica',sans-serif;
    background-color: transparent;
}



/* this defines the general appearance of buttons. */
.tawk_button {
    border-style:none;
    border-width: 0px;
    background-color: #2D777F;
    color: white;
    font-size: 14px;
    height: 24px;
    cursor:pointer;
}

.tawk_button:hover {
    background-color: #50a0a0;
}

.tawk_button_disabled {
    border-style:none;
    border-width: 0px;
    background-color: gray;
    color: white;
    font-size: 14px;
    height: 24px;
}

/*
 * tawk_howtousebox is a container div for box that 
 * enables a guest to notify a room owner that he/she
 * is at the room.
 */
#tawk_howtousebox {
    background-color: rgba(240,97,51,.90);
    position:absolute;
    left: 96px;
    color: white;
    z-index: 5;
}


/*
 * appearance of the button inside the tawk_howtousebox
 */
#tawk_notifyOwnerButton {
    padding: 0.5em;
}

/*
 * This defines the color of the bevel edges for the message box.
 */
.tawk_messageBevel {
    border-top: 2px solid rgb(255,255,94);  
    border-bottom: 1px solid rgb(109,109,21);    
}

/*
 * This is used by the components of the tawk_howtousebox
 */
.tawk_bevelbox {
    display:block;
    border-top: 2px solid rgb(255,131,94);  
    border-bottom: 1px solid rgb(184,109,21);

    padding-left: 20px;
    padding-top:1em;
    padding-bottom:1em;
}


/* 
 * This defines what border of each video box looks like.
 * If you want each videobox to be different, make this an empty class
 * and put the content in #tawk_box0, #tawk_box1, #tawk_box2, and #tawk_box3
 */
.tawk_videoBox {
    position:absolute;
    border-width:7px;
    border-color: rgba(64,64,64, 0.6);
    border-style: solid;
}

/*
 * tawk_videoCloseFrames serve as buttons the room owner can click to remove a
 * guest from a room. By default, the button is an X in the top left corner of the
 * video.
 */
.tawk_videoCloseFrame {
    position:absolute;
    width:50px;
    height:50px;
    top:0;
    right:0;
    opacity:0.15;
    z-index: 3;
}


.tawk_videoCloseFrame:hover {
    opacity: 1;
    cursor:pointer;
}


/*
 * tawk_closeIcon defines appearance of the close button.
 * The default is an X. The color is defined inside the svg file.
 */
.tawk_closeIcon {
    position:absolute;
    display:block;
    right:0px;
    border-color: transparent;      
    background-image: url('/images/X.svg');
    background-size: cover;
    border:none;
    margin:0;
    padding:0;
    top:0px;
    width:30px;
    height:30px;
    z-index: 5;
    cursor: pointer;
    opacity: 0.35;
}

.tawk_closeIcon:hover {
    opacity: 1.0;
}

/*
 * the tawk_acceptCallBox shows up on the owners window to announce
 * that a guests wants to enter a room. The box contains a picture and a pair of 
 * buttons  (accept and reject) for each guest.
 */
#tawk_acceptCallBox {
    z-index:10;
    position:absolute;
    width: 300px;
    background-color:rgba(214,222,35,0.95);   
    padding:15px;
}

/*
 * The label for the tawk_acceptCallBox
 */
#tawk_acceptCallBoxLabel {}

/*
 * The innerbox that contains the list of guests wishing to enter the room.
 */
#tawk_acceptCallBoxContents {}

/*
 * A box that groups a picture of guest wishing to enter a room with a box
 * containing the accept and reject buttons.
 */
.tawk_acceptBoxElement {
    clear:both;
    padding-top: 15px;
    padding-left:9px;
    padding-bottom: 15px;
    width: 330px;
}

/*
 * this controls the position of the tawk_acceptCallBox pictures inside the
 * tawk_acceptBoxElement
 */
.tawk_acceptBoxThumb {
    float:left;    
}

/*
 * this controls the position of the tawk_callAcceptButtonBox inside the
 * tawk_acceptBoxElemet.
 */
.tawk_callAcceptButtonBox {
    float:left;
}

/*
 * The tawk_mediaAllowText(Chrome|Mozilla) divs are browser specific divs
 * containing text asking the user to press the buttons allow media sharing.
 * There are two more divs containing images of triangles as SVGs that are 
 * adjacent to them and should be kept the same color.
 */
#tawk_mediaAllowTextChrome {
    position:absolute;
    top:32px;
    left:0;
    width: 18em;
    font-size: medium;
    color: rgb(255,255,255);
    background-color:#0091C6;
    padding:1em;
}

#tawk_mediaAllowTextMozilla {
    position:absolute;
    top:210px;
    left:0;
    width: 18em;
    font-size: medium;
    color: rgb(255,255,255);
    background-color:#0091C6;
    padding:1em;
}


/*
 * The class of divs that serve as containers for the "no video annotation".
 * The background-image property is set programmatically to static image of the 
 * person not supplying video.
 */
.tawk_noVideoNotice {
    position:absolute;
    z-index: 2;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-size: cover;
}

/*
 * The appearance of the "no video"" text.
 */
.tawk_noVideoText {
    vertical-align: middle;
    text-align: center;
    color: red;
    font-size: 25pt;
    font-weight: bold;
}


/*
 * class for the shaded bar at the bottom of videos.
 */
.tawk_controlbar {
    position:absolute;
    left:0;
    right:0;
    height:40px;
    bottom:0;
    opacity: 0.20;
    z-index:3;
    background-color: black;
}


.tawk_controlbar:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .65);
}

/*
 * A container used to center the controls in the self video's controlbar.
 */
.tawk_vid0Controls {
    position:absolute;
    bottom:0;
    left:50%;
    margin-left:-50px;
    width: 100px;
    height: 40px;    
}


/*
 * A class defining the size and position of the mike mute button.
 */
#tawk_mikeMute {
    float:left;
    width: 40px;
    height: 40px;
    margin-left:20px;
    background-size: cover;  
    cursor: pointer;
}

/* 
 * image displayed in the tawk_mikeMute div when the mike is not muted
 */
.tawk_mikeOn {
    background-image: url('/images/mic_on.svg');
}

/* 
 * image displayed in the tawk_mikeMute div when the mike is muted
 */
.tawk_mikeOff {
    background-image: url('/images/mic_off.svg');
}

/*
 * A class defining the size and position of the camera mute button.
 */
#tawk_cameraMute {
    float:left;
    width: 40px;
    height: 40px;
    background-size: cover;  
    cursor: pointer;    
}

/* 
 * image displayed in the tawk_cameraMute div when the camera is active
 */
.tawk_cameraOn {
    background-image: url('/images/video_on.svg');
}

/* 
 * image displayed in the tawk_mikeMute div when the camera is not active.
 */
.tawk_cameraOff {
    background-image: url('/images/video_off.svg');
}

/*
 *container used to position the speaker mute and speaker volume controls
 */
.tawk_speakerPosition {
    position:absolute;
    left:50%;
    margin-left:-112px;
    width: 223px;
    height: 40px;
}

/* 
 * the size and relative position of the speaker mute button inside a tawk_speakerPosition div.
 */
.tawk_speakerMute {
    float:left;
    width: 40px;
    height: 40px;
    background-size:cover;
    cursor: pointer;
}

/* 
 * image to display when a particular video box has been muted 
 */
.tawk_speakerOff {
    background-image: url("/images/VolumeOFF.svg");     
}

/* 
 * image to display when a particular video box hasn't been muted 
 */
.tawk_speakerOn {
    background-image: url("/images/VolumeON.svg"); 
}


/*
 * positioning of the volume slider inside the tawk_speakerPosition div.
 */
.tawk_volumeSlider {
    float:left;
    width: 160px;
    margin-top: 8px;
}



/*
 * Container for a div that displays messages.
 */
#tawk_messageBox {
    position:absolute;
    width: 400px;
    margin-left: -150px;
    margin-top: -150px;
    background-color: rgba(214,222,35, 0.9);   
    z-index:200;
    color: black;
    font-size: 20px;

}

/*
 * Label for the tawk_messageBox
 */
#tawk_messageBoxLabel {
    padding: 1em;   
}


/*
 * Contents area for the tawk_messageBox.
 */
#tawk_messageBoxContents {
    padding-left: 20px;
    padding-right: 20px;
    width: available;
    padding-top:0.5em;
    padding-bottom: 0.5em;
    position:relative;
}

/* 
 * Div holding an individual message. The div appears inside
 * the tawk_messageBoxContents.
 */
.tawk_MessageBoxElement {
    padding-bottom:0.5em;
    overflow-x: hidden;
    width:available;
    position:relative;
}

/*
 * div that serves as a button to close the message box.
 */
.tawk_messageBoxCloseFrame {
    position:absolute;
    top:0;
    right:0;
}

.tawk_messageBoxCloseFrame:hover {
    opacity: 0.5;
    cursor:pointer;
    position:absolute;
    top:0;
    right:0;
}



/*
 * The errorDialog has following components:
     tawk_ErrorDialog: the outer containing div that is cosmetic.
         tawk_ErrorFrame: an inner frame.
             tawk_ErrorDialog_title: a title div.
             tawk_ErrorDialog_body: a div that will hold the actual error message text.
                 tawk_ErrorDialog_element: divs that hold individual error messages.
             tawk_ErrorDialog_okayButton: a button that hides the tawk_ErrorDialog.
*/

#tawk_ErrorDialog {
    position:absolute;   
    left:0;
    top:0;
    width: 100%;
    height:100%;
    background-color: rgba(64,64,64,0.8);
    z-index: 30;
}

#tawk_ErrorFrame {
    background-color: rgba(217,28,92, 0.9);    
    position:absolute;
    left: 50%;
    top:50%;
    width: 300px;
    opacity: 0.95;
    margin-left: -150px;
    margin-top: -150px;
    padding: 0.5em;
    border-radius:0;
    border-style:none;
    color:white;   
}

#tawk_ErrorDialog_title {
    position:static;
    text-align:center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0.5em;
    clear:both;
}

#tawk_ErrorDialog_body{
    position:static;
    overflow-y:auto;
}

.tawk_ErrorDialog_element {
    position:static;
    font-style: italic;
    font-size: 15px;
    width:300px;    
    margin-bottom: 0.5em;
    clear: both;
    float:left;
}


/*
 * Container for div that is display when a guests picture is going to be taken.
 */
#tawk_cameraWarning {
    position:absolute;
    z-index:100;
    padding: 20px;
}

/*
 * image of a camera for the tawk_cameraWarning
 */
#tawk_cameraIcon {
    background-image:url('/images/camera.svg');
    width:200px;
    height:233px;
    float:right;
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: contain; 
    vertical-align: top;
}

/*
 * place holder for the camera count-down digits
 */
#tawk_cameraCount {
    z-index:2;
    margin-left:150px;
    font-size: 200px;
    background-color: transparent;
    opacity: 0.6;
    color:yellow;
}




/*
 * the tawk_waitingBox appears on the client's window when he tries to enter a room
 * where an owner is present.
 */
#tawk_waitingBox {
    z-index:10;
    position:absolute;
    width: 200px;
    background-color:rgba(214,222,35,0.95);   
    padding:15px;
}

/*
 * the tawk_waitingBoxLabel is the label for the tawk_waitingBox.
 */
#tawk_waitingBoxLabel {}

#tawk_waitingBoxIcon {
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:10px;
    width:69px;
    height: 54px;
    background-image: url("/images/ringing.gif"); 
    background-repeat:no-repeat;
}

/* 
 * this is box that contains the hand-off button and the login-as-guest button 
 */
#tawk_secondOwnerOptions {
    position:relative;
    left:100px;
    top:100px;
}

/*
 * this provides the background color of panes with buttons.
 */
.tawk_actionPane {
    background-color: rgb(240,97,51);
}

/* tawk_only.css body */
/* desktop media */

/*
 * this file contains css for components that aren't part of the embedded page.
 */
.tawk_htmlbody { 
    background: url("background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* body for use on tawk.com */
.tawk_appBody {
    font-family: 'arial','helvetica',sans-serif;
    background-image: url("background.jpg");
    margin: 0px;
}

.tawk_callAcceptButton {
    margin-left: 1em;
    clear: both;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.tawk_callRejectButton {
    margin-top: 27px;
    margin-left: 1em;
    clear: both;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;

}

#tawk_popupWindowTitle {
    position:absolute;
    left:0px;
    right: 30px;
    background-color: rgb(230, 231, 232);
    padding-bottom:10px;
    text-align:center;
}

.hideTitles { 
    display:none;  
    right: 30px;
}

#tawk_popupWindow {
    position:absolute;
    z-index:20;
    top: 40px;
    bottom: 40px;
    left: 40px;
    right: 40px;
    background-color: rgb(230,231,232); 
}

#tawk_popupWindowBodyWrapper {
    overflow-y: auto;
    position:absolute;
    top:40px;
    bottom:10px;
    right: 10px;
    left: 10px;
    overflow: auto;
    z-index: -1;
}

#tawk_popupwrapper p {
    margin-left: 2em;
}

#tawk_popupwrapper ul {
    margin-left: 2em;
}

#tawk_popupwrapper img {
    margin-left: 2em;
    border: 2px solid black;
}

#tawk_topbar {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 43px;
    background-color: rgba(64,64,64,1);
}

#tawk_settingsButton {
    position:absolute;
    right: 10px;
    bottom: 1px;
}

#tawk_settingsButton:hover {
    opacity: 0.8;
}

#tawk_bottombar {
    position:absolute;
    background-color:rgba(25,25,25,.8);
    color : #d0d0d0 ;
    bottom: 0px;
    height: 32px;
    left:0px;
    font-size: small;
    width:100%;
}


.tawk_bottom_links {
    margin-left: 0.5em;
    margin-right:0.5em;
    font-style: normal;
    text-decoration: none;
    color: #d0d0d0;
    cursor:pointer; 
}


.tawk_contentsWithBars {
    top:32px;
    bottom:32px;
    background-color: rgba(0, 0, 0, 0.5);
}

#tawk_copyBlock {
    margin-top:0.5em;
    margin-bottom:0.5em
}

#tawk_topcentral {
    padding-bottom:3px;
    padding-top: 3px;
}

#tawk_middlecentral {
    padding-top:1em;
    padding-bottom:1em;
    font-size: 25px;    
    padding-right:20px;
}


.tawk_tagline_size {
    font-size: 25px;
}


#tawk_roomname {
    font-size: 22px;
    height: 32px;
    padding-left:4px;
    vertical-align: top;
    border-width: 0px;
    margin-bottom:3px;
    margin-right: 0px;
}

#tawk_copyButton {
    display:inline-block;
    vertical-align: top;
    position:relative;
    height:34px;
    width:80px;
    background-color: rgb(64,64,64);
    cursor: pointer;
    margin-left: -8px;
}

#tawk_copyButton_label {
    position:absolute;
    font-size:18px;
    top:50%;
    margin-top: -11px;
    margin-left: 16px;
}

#tawk_copyButton:hover {
    opacity:.5;
}

#tawk_embedButton {
    display:inline;
    background-color: rgb(64,64,64);
    padding-top: 0px;
    padding-bottom:4px;
    padding-left: 25px;
    padding-right: 25px; 
    cursor:pointer; 
}

#tawk_embedButton:hover {
    opacity: .5;
}


.tawk_password_field {
    background-color: white;   
    font-size: 14px;
    height: 22px;
    padding-left:4px;
    margin-bottom: 2px;
    border-style:none;
    margin-right: 0px;
    margin-left: 2px;
}

.tawk_cpassword_field {
    background-color: white;   
    font-size: 18px;
    height: 32px;
    padding-left:4px;
    border-style:none;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom:0px;
}

#tawk_password_button {
    position:relative;
    left: -6px;
    bottom: 0px;
}

#tawk_password_button:hover {
    background-color: #50a0a0;
}

#tawk_urlShare {
    float:left;
}



#tawk_forgotPasswordButton {
    margin-left:30px;
    color:white;
    text-decoration:underline;
    font-size: 12px;
    display: inline-block;
}


#tawk_short_code_field {
    background-color: white;   
    font-size: 18px;
    height: 32px;
    padding-left:4px;
    border-style:none;
    margin-right: 0px;    
}

.tawk_NotButton {
    border-style:none;
    background-color: #2D777F;
    font-size: 18px;
    height: 34px;
    border-width: 0px;
    color: gray; 
    cursor: default;        
}


#tawk_short_code_button {
    position:relative;
    left: -6px;
    bottom: 0px;
}


#tawk_short_code_block {
    margin-top: 5px;
}

#tawk_pshort_code_block {
    margin-top: 5px;
}

#tawk_pshort_code_field {
    background-color: white;   
    font-size: 18px;
    height: 32px;
    padding-left:4px;
    border-style:none;
    margin: 0px;
}


#tawk_pshort_code_button {
    position:relative;
    left: -3px;
    bottom: 0px;
    margin:0px;
}

#tawk_guestHowToUse {
    padding-right: 1em;
}

.tawk_howToUseElements {
    width:650px;
    padding-right:20px;
}

#tawk_settingsPasswordFilter {
    position:absolute;
    background-color: rgba(40,40,40,0.8);
    right:0px;
    bottom:0px;
    left:0px;
    top:0px;
    z-index:2;
}



#tawk_settingsPane {
    z-index:6;
    position:absolute;
    top:1em;
    right:1em;
}

.tawk_embeddedPageLink {
    display: inline-block;
    text-decoration: underline;
    color: white;
    padding-left: 2px;
    padding-right:2px;
    cursor:pointer; 
}


#tawk_embeddedTextArea {
    resize: none;
}

#tawk_email_addr_field {
    background-color: white;   
    font-size: 18px;
    height: 34px;
    padding-left:4px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-style:none;
    margin-right: 0px;
    vertical-align:top;
}

#tawk_email_addr_button {
    vertical-align:top;
    position:relative;
    left: -6px;
    bottom: 0px;
}


#tawk_passwordCallout {
    position:absolute;
    right: 5px;
    top: 0px;    
    z-index: 4;
}


#tawk_passwordPointer {
    position:absolute;
    height:21px;
    width: 21px;
    right:5px;
    top:0px;
}

#tawk_passwordText {
    position:absolute;
    top:21px;
    width: 20em;
    right: 0px;
    color: white;
    background-color: #9E1F63;
    padding-left: 0.75em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
}


#tawk_copyurl {
    float:left;
    width:24px;
    margin-left:10px;
}



#tawk_urlCopiedNotice {
    position:absolute;
    left: 516px;
    bottom:0px;
    width: 213px;
    height: 165px;
    z-index: 6;
}

#tawk_urlCopiedPointer {
    position: absolute;
    width: 55px;
    height: 55px;
    bottom: 59px;
    left: -17px;
}

#tawk_urlCopiedText {
    position: absolute;
    background-color: #2D777F;
    padding: 1em;
    width: 220px;
    height: 165px;
    left: 33px;
    bottom: 0px;
    color: white;
    font-size: 20px;
}

#tawk_SkinEditor {
    position:relative;
    height: 35em;
    width:50em;
}




#tawk_SkinDialog {
    position:absolute;
    left: 20px;
    top: 20px;
    z-index: 40;
    border: 2px white solid;
    background-color:gray;
    color:white;
    cursor:default;
}



#tawk_SkinEditorTitlebar
{
    position:relative;
    width: 100%;
    height: 30px;
    font-size:25px;
}

#tawk_SkinEditorTitle
{
    font-size:25px;
}


.tawk_logo {
    margin-left:2em;
    font-size: 20px;
    color: white;
    text-decoration: none;
}


.tawk_clickable {
    cursor: pointer;   
}



.tawk_title_size {
    font-weight:normal;
    font-size:32px;
}



.tawk_closeButton {
    margin-top:2px;
    margin-right:2px;
    width:1.5em;
    height:1.5em;
    opacity:0.9;
}

.tawk_closeButton:hover{
    margin-top:0;
    margin-right:0;
    width:1.7em;
    height:1.7em;
    opacity:1.0;
}


