#tawk_movie {
    position:absolute;
    right:20px;
    top:20px;
}

#tawk_movie:hover {
   z-index: 10;
}

#tawk_centralbox {
    background-color: rgba(80,80,80,.90);
    color: white;
}

#tawk_topcentral {
    /*border-top: 2px solid rgb(255,131,94);
    border-bottom: 1px solid rgb(153,61,33);*/
}


#tawk_bottomcentral {
    border-top: 2px solid rgb(255,131,94);
    padding-right:1em;
    padding-top:0.8em;
    padding-bottom:3.5em;
    font-size: 20px;
    border-bottom: 1px solid rgb(153,61,33);
}

.tawk_contentsWithBarsClear {
    top:0px;
    bottom:0px;
}


#tawk_roomblock {
    position:relative;
    padding-top: 6px;
    padding-bottom: 5px;
}



#tawk_roomstate {
    position:relative;
    float:left;
    width: 200px;
    cursor:pointer;
    font-size:20px;
    height: 50px;
}



#tawk_roomname_field {
    float:left;
    position: relative;    
    border-style:none;
    font-size: 24px;
    height: 50px;
    margin-top:0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 4px;
    padding-top:0px;
    padding-bottom:0px;
    border-width: 0px;
}

#tawk_orText {
    padding-right: .35em;
    padding-top: 0.25em;
    font-size: 20px;
}

#tawk_randomroom{
    padding-left:0.5em;
    padding-right:0.5em;
    background-color: rgb(64,64,64);
    font-size:20px;
	cursor: pointer;
}

#tawk_randomroom:hover {
    background-color: rgb(80,80,80);
}

.tawk_title_size {
    font-size: 30px;
    font-family: "arial","helvetica",sans-serif;
    font-weight: normal;
}

.tawk_tagline_size {
    font-size: 25px;
}

.tawk_smallprint {
    font-size: 10px;
}

#tawk_messageBox {
    position:absolute;
    width: 400px;
    margin-left: -150px;
    margin-top: -150px;
    background-color: rgba(214,222,35, 0.9);   
    z-index:10;
    color: black;
    font-size: 20px;

}

#tawk_messageBoxContents {
    padding-left: 20px;
    padding-right: 20px;
    width: available;
    padding-top:0.5em;
    padding-bottom: 0.5em;
    position:relative;
}

#tawk_messageBoxLabel {
    padding: 1em;   
}

.tawk_MessageBoxElement {
    padding-bottom:0.5em;
    overflow-x: hidden;
    width:available;
    position:relative;
}

.tawk_closeButton {
    margin-top:2px;
    margin-right:2px;
    width:1.5em;
    height:1.5em;
    opacity:0.9;
}

.tawk_closeButton:hover{
    margin-top:0px;
    margin-right:0px;
    width:1.7em;
    height:1.7em;
    opacity:1.0;
}
