#loginBox {
	position:fixed;
	top:50%;
	left:50%;

    height: 170px;
	margin-top:-85px;

    width: 500px;
	margin-left:-250px;

    border:rgba(80,80,80,0.90) solid 2px;
    background-color:rgba(80,80,80,0.80);
    border-radius: 10px;
    color: white;
    line-height: 1.7;
}

.leftLabel {
	width:19%; 
	display: inline-block;
}
