body {
    background: url("/images/backgrounds/b1.jpg") no-repeat center center fixed;        
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'arial','helvetica',sans-serif;
}
input {
    color: rgb(60,60,60);
}
select {
    color: rgb(60,60,60);
}
#main {
    padding-left: 0;
    padding-right: 0;
}
#demoContainer {
    position:relative;
    background-color: transparent;
}
#connectControls {
    display: none;
    float:left;
    width:230px;
    height: 600px;
    text-align:center;
    background-color: transparent;
    font-size: small;
    box-shadow: 5px 5px 5px black;
}
#otherClients {
    text-align: left; 
    display:none; 
    height:350px;
    margin: 2px;
    overflow-y:auto;
    background-color: white;
    color:black;
    padding-right: 15 px;
}

#otherClientsDefault{
    position: absolute;
    height: 350px;
    width: 226px;
}

#otherClientsRoom{
    position: absolute;
    height: 350px;
    width: 226px;
}

#salasChat {
    display:block;
    color:black;
    text-align:left;
    height:80px;
    margin: 2px;
    overflow-y:auto;
    background-color: white;
}
.frameVideo {
    height: 136px; 
    width: 271px;
    margin-left: 10px;
    margin-top: 10px;
    border:0px solid gray;
}
.mainVideo {
    position: absolute;
    top:100px;
    right:22%;
    z-index:1;
    width: 38%;
    height: auto; 
    border:0px solid gray;
}
.popupBox {
    display:none;
    z-index:100;
    position:absolute;
    top:120px;
    left:30%;
    border:rgba(216,238,216,0.8) solid 2px;
    background-color:rgba(224,224,224,0.7);
    padding:15px;
    min-height:50px;
    min-width:200px;
    text-align: center;
}


#textToShowInPopup {
    color:rgba(240,240,240,1);
    text-shadow: 1px 1px #000;
    }

#callingToBox {
    display:none;
    z-index:100;
    position:absolute;
    top:120px;
    left:30%;
    border:rgba(216,238,216,0.8) solid 2px;
    background-color:rgba(224,224,224,0.7);
    padding:15px;
    min-height:50px;
    min-width:200px;
    text-align: center;
}

#labelConnectedUsers{
    text-align: center; 
    display:none; 
    padding-bottom:3px;
}

ul.users{
    list-style-image:url('/images/available.png');
}

.links {
    margin-right: 2px;
    float:right;
    width:1.2em;
    margin-top: 1%;
}
img.links:hover {
    cursor: pointer;
}

.connected{
vertical-align: top;
}

ul li.connected {
    list-style-image:url('/images/cam.png');
}
ul li.away {
    list-style-image:url('/images/away.png');
    cursor: pointer;
}
ul li.busy {
    list-style-image:url('/images/busy.png');
    cursor: pointer;
}
ul.rooms{
    list-style-image:url('/images/room.png');
}

ul.rooms li{
vertical-align: top;
}

ul.rooms li:hover {
    background-color:rgba(80,80,80,0.30);
    cursor: pointer;
    color: black;
}
#salirDeSala{
    display: none;
}
#changeColorBox{
    position: absolute;
    bottom: 0px;
    right: 10px;
    z-index: 1;
}
#iam {
    margin-top:-17pt;
    margin-right:150pt; 
    float:right; 
    color:white; 
    display:none;
}
.select_field {
    background-color: white;   
    font-size: 18px;
    height: 32px;
    padding-left:4px;
    margin-bottom: 2px;
    border-style:none;
    margin-right: 0px;
    margin-left: 2px;
}
#loginBox {
    display:block;
    /*font-weight: bold;*/
    z-index:20;
    position:absolute;
    margin-top:5%;
    right:33%;
    height: 170px;
    width: 500px;
    border:rgba(80,80,80,0.90) solid 2px;
    background-color:rgba(80,80,80,0.80);
    border-radius: 10px;
    color: white;
    line-height: 1.7;
}

#nickname {
    width:80%;
}
#userName {
    width:40%;
}
#server {
    width:35%;
}
#password {
    width:40%;
}
.chatWindow {
    display:none;
    z-index:3;
    position:absolute;
    bottom:50px;
    right:50px;
    width: 300px;
    height:300px;
    border:rgba(80,80,80,0.80) solid 2px;
    background-color:rgba(80,80,80,0.30);
}
.chatWindowTopBar {
    height : 6%;
    z-index:2;
    background-color: rgba(80,80,80,0.80);
}
.chatWindowText {
    height : 86%;
    z-index:2;
    background-color: white;
    overflow-y: scroll;
    word-wrap: break-word;
    font-size: 12px;
    color: rgb(80,80,80);
}
.chatWindowButton {
    z-index:2;
    float:right;
    opacity: 0.6;
    width:1em;
}
.chatWindowButton:hover {
    opacity: 1;
}

.chatWindowButton_call {
    z-index:2;
    float:right;
    opacity: 0.6;    
    width:1em;
}

.chatWindowButton_call:hover {
    opacity: 1;
}

.chattingWith {
    /*text-transform: uppercase;*/
    font-size: 13px;
    z-index:2;
    color:white;
}
.chatWindowInput {
    width : 100%;
    z-index:4;
}
.chatText {
    width : 80%; 
    padding: 0px;
}
.sendChat {
    width : 19%;
    padding: 0px;
}
.chatWindowMin {
    display:none;
    z-index:3;
    position:absolute;
    bottom:50px;
    right:50px;
    width: 300px;
    height:17px;
    border:rgba(80,80,80,0.80) solid 2px;
    background-color:rgba(80,80,80,0.30);
    color: white;
}
.chatWindowMinBar {
    background-color: rgba(80,80,80,0.60);
}
.onTop{
    z-index: 4;
}

.nombreSalas{
    color: grey;
}

.errorMsg{
    font-size: small;
    color: wheat;
}

#fflipLastMessage{
    margin-top:7pt;
    /*margin-left: 300px; */
    color: antiquewhite;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: inherit;
    background-color: transparent;
}

#flipLastMessage{
    /*margin-top:7pt;*/
    /*margin-left: 300px; */
    color: antiquewhite;
    background-color: transparent;
    height: 100%;
} 

.center-wrapper {
  text-align: center;

}
.center-wrapper * {
  margin: 0 auto;
}

#leftWrapperTopBar {
    margin-top:7pt;
    float:left;
    width:33%;
}
#centerWrapperTopBar {
    height: 20px;
    width: 33%;
    float: left;
    margin-top: 10px;
}
#rightWrapperTopBar {
    display: none; 
    z-index : 10; 
    float:right; 
    clear:none;
    width: 33%;
}
#userNameBlock {
    display: none; 
    z-index : 10; 
    float:right; 
    color:white;
    margin-top: 10px;
    margin-right: 7px;
    min-width: 250px;
}


@media all and (max-width: 799px) {

    #centerwrapper{
        display: none;
    }
}

.rounded-corners {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 12px;
}

.easyrtcMirror {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}



.transit {
    transition: left 1s, top 1s, right 1s, bottom 1s, width 1s, height 1s, transform 1s;
    -moz-transition: left 1s, top 1s, right 1s, bottom 1s, width 1s, height 1s, -moz-transform 1s;
    -webkit-transition: left 1s, top 1s, right 1s, bottom 1s, width 1s, height 1s, -webkit-transform 1s;
    -o-transition: left 1s, top 1s, right 1s, bottom 1s, width 1s, height 1s,-o-transform 1s;
}

.hidden {
    background-color: transparent;
    border-color: 2px solid blue;
}

.boxCommon {
    position:absolute;
}

.closeButton {
    display: none; /* hide the easyApp's close button because we have our own */
}

.thumbCommon {
    z-index:2;
    box-shadow: 5px 5px 5px #000000;
}

#containerVideos { 
    /*width: 80%; /* pick whatever width you want */
    height: 608px;
    position: absolute;
    margin-left: 240px;
}
#outerVideos {
    width: 100%;
    height: 608px;
    position: relative;
}
#videos {
    height: 608px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*
#videos{
    height: 608px;
    position: absolute;
    margin-left: 240px;
}
*/
