/* external file "mybcstyle.css" begins */
A { text-decoration:none;}
A:link { color: red }
A:visited { color: red }
A:hover { color: antiquewhite }
 .stilmsg { font-weight:bold; font-size:12px; text-align:center; font-family: "Arial", "Helvetica", sans-serif; color:antiquewhite;}
 .stilefss {font-weight:bold; font-size:8px; font-family: "Arial", "Helvetica, sans-serif"; text-align:center; color:antiquewhite;}
/* end of external file "mybcstyle.css" */